<div class="container">
    <form [formGroup]="editForm" (ngSubmit)="onSave()">
       
      <mat-form-field appearance="fill">
        <mat-label>Policy holder name</mat-label>
        <input matInput formControlName="name" placeholder="Enter your policy name">
      </mat-form-field>
    
    <div class="form">
      <mat-form-field appearance="fill">
        <mat-label>Policy Holder Name</mat-label>
        <input matInput formControlName="email" placeholder="Policy Holder Name">
      </mat-form-field>
      
     
      <mat-form-field appearance="fill">
        <mat-label>Policy Type</mat-label>
        <input matInput formControlName="policyType" type="text" placeholder="policyType">
      </mat-form-field>
      
       
            <mat-form-field appearance="fill">
              <mat-label>Plan Year</mat-label>
              <input matInput formControlName="policyNumber" type="text" placeholder="Plan Year">
            </mat-form-field>
            
        
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </div>
    </form>


